# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook
.ipynb_checkpoints

# Logs and data
*.log
*.tsv
*.csv
*.png

# Virtual environments
.env
.venv
env/
venv/
*.env

# Docker
*.tar

